.profile_content {
   padding:50px;
}

.profile_sidebar {
   float:left;
   padding:50px;
   text-align:center;
}

.profile_form {
   padding-left: 200px;
   font-size: 20px;
}

label {
   font-size:20px;
   margin-top:25px;
   margin-left:200px;
   margin-right:20px;
   margin-bottom:5px;
   display:block;
}

input[type=text], input[type=date], select {
    height:50px;
    width:400px;
    font-size:20px;
    margin-left:200px;
}

button {
   height: 60px;
   width: 200px;
   margin-left:300px;
}

h2 {
   text-align:center;
}

.field_error {
   text-align:center;
   color:red;
}

.flash_message {
   margin:10px;
   font-size:20px;
   text-align:center;
}

.confirm_message {
   text-align:center;
   padding:5px;
}

.profile_paragraph {
   text-align:center;
}

.welcome_header {
   text-align: center;
   margin-top: 20%;
   font-size: 50px;
}
